<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Proyecto seguro{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Proyecto seguro en Django</h1>

        {% if user.is_authenticated %}
        <p>Usuario: {{ user.username }}</p>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>